body {
  background-image:url(food-image-bg.png);
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

ul.prep-steps {
  color: #fff;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;   
  align-items: flex-end; 
  text-align: right;
}

li.step {
  color: #fff;
  margin: 0;
  padding: 0;
}

p {
  line-height: 2; 
}

button.btn-primary {
  background-color: #b5c640;
  color: #fff; 
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}

h1 {
  color: #fff;
  font-size: 60px; 
  text-align: right;
}

div.recipies-info {
  color: #fff;
  margin: 0;          
  text-align: left;
  display: flex;
  justify-content: flex-start;   
}

span {
  color: #b5c640;
}


